<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="/assets/css/estilo.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>Lenguajes de Programacion</h1>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Lenguajes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Java</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Python</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">C++</a>
              </li>

            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <div class="columnas">
        <section>
            <div class="columna margen">
                <div class="largo_div">
                    <div>
                        <h2>Java</h2>
                    </div>
                    <img src="/assets/imagenes/Imagen1.jpg">
                    <p class="margen">Java es un lenguaje de programación ampliamente utilizado para codificar
                        aplicaciones web. Ha sido una opción popular entre los desarrolladores durante más de dos
                        décadas, con millones de aplicaciones Java en uso en la actualidad. Java es un lenguaje
                        multiplataforma, orientado a objetos y centrado en la red que se puede utilizar como una
                        plataforma en sí mismo.</p>
                </div>
                <div class="largo_div">

                    <h2>Python</h2>

                    <img src="/assets/imagenes/python.png">
                    <p class="margen">Python es un lenguaje de programación ampliamente utilizado en las aplicaciones
                        web, el desarrollo de software, la ciencia de datos y el machine learning (ML). Los
                        desarrolladores utilizan Python porque es eficiente y fácil de aprender, además de que se puede
                        ejecutar en muchas plataformas diferentes. </p>
                </div>
                <div class="largo_div">
                    <div>
                        <h2>C++</h2>
                    </div>
                    <img src="/assets/imagenes/c++.jpg" title="hola">
                    <p class="margen">C++ es un lenguaje de programación que proviene de la extensión del lenguaje C
                        para que pudiese manipular objetos. A pesar de ser un lenguaje con muchos años, su gran potencia
                        lo convierte en uno de los lenguajes de programación más demandados en los últimos años.</p>
                </div>
            </div>
        </section>
        <aside>
            <h2>Paginas recomendadas</h2>
            <ul>
                <li>
                    <a href="https://openwebinars.net/blog/que-es-java/">Java</a>
                </li><br>
                <li>
                    <a href="https://desarrolloweb.com/home/python">Python</a>
                </li><br>
                <li>
                    <a href="https://www.ecured.cu/C%2B%2B">C++</a>
                </li><br>
            </ul>
            <h2>Cursos Gratis Recomendados</h2>
            <ul>
                <li>
                    <a href="https://open-bootcamp.com/cursos/java">Open-Bootcamp</a>
                </li><br>
                <li>
                    <a href="https://codigofacilito.com/cursos/c-plus-plus">Codigo Facilito</a>

                </li><br>
                <li>
                    <a href="https://www.pildorasinformaticas.es/course/c/">Pildoras informaticas C++</a>
                </li><br>
            </ul>
            <h2>Documentacion Oficial</h2>
            <ul>
                <li>
                    <a href="https://download.java.net/java/early_access/panama/docs/api/index.html">Api de Java</a>
                </li><br>
                <li>
                    <a href="https://docs.python.org/3/">Api de Python</a>
                </li><br>
                <li>
                    <a href="https://learn.microsoft.com/es-es/cpp/cpp/?view=msvc-170">Documentacion C++</a>
                </li><br>
            </ul>
        </aside>
    </div>
    <footer>
  
            <p class="parrafo">Contacto: +56 9 63584657 Email:mipaginaweb@hotmail.com</p>
        
    </footer>

</body>

</html>